{
    "extends": "next",
    "rules": {
        "react/no-unescaped-entities": "off",
        "@next/next/no-page-custom-font": "off",
        "@next/next/no-img-element": "off",
        "react/jsx-no-target-blank": 0,
        "import/no-anonymous-default-export": "off",
        "react-hooks/exhaustive-deps": "off",
        "@next/next/no-sync-scripts": "off",
        "react-hooks/rules-of-hooks": "off"
    }
}
