{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true
    },
    "globals": {
        "testHelper": true,
        "app": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "extends": ["prettier", "eslint:recommended", "eslint:recommended", "plugin:react/recommended"],
    "plugins": ["prettier", "react"],
    "rules": {
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
        "no-setter-return": 0,
        "no-async-promise-executor": 0,
        "prefer-promise-reject-errors": 0,
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ],
        "no-var": "warn",
        "prefer-const": "warn",
        "no-console": "off",
        "global-require": "off",
        "indent": [
            "warn",
            4,
            {
                "MemberExpression": 1,
                "SwitchCase": 1,
                "VariableDeclarator": 2
            }
        ],
        "linebreak-style": ["off", "unix"],
        "semi": ["warn", "always"],
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none",
                "ignoreRestSiblings": false
            }
        ],
        "enforceDynamicLinks": 0
    }
}
