.w-23\/24 {
    width: 95.83%;
}

.w-22\/24 {
    width: 91.67%;
}

.w-21\/24 {
    width: 87.5%;
}

.w-20\/24 {
    width: 79.17%;
}

.w-19\/24 {
    width: 71.67%;
}

.w-18\/24 {
    width: 75%;
}

.w-17\/24 {
    width: 70.83%;
}

.w-16\/24 {
    width: 66.67%;
}

.w-15\/24 {
    width: 62.5%;
}

.w-14\/24 {
    width: 58.33%;
}

.w-13\/24 {
    width: 54.17%;
}

.w-12\/24 {
    width: 50%;
}

.w-11\/24 {
    width: 45.83%;
}

.w-10\/24 {
    width: 41.67%;
}

.w-9\/24 {
    width: 37.5%;
}

.w-8\/24 {
    width: 33.33%;
}

.w-7\/24 {
    width: 29.17%;
}

.w-6\/24 {
    width: 25%;
}

.w-5\/24 {
    width: 20.83%;
}

.w-4\/24 {
    width: 16.67%;
}

.w-3\/24 {
    width: 12.5%;
}

.w-2\/24 {
    width: 8.33%;
}

.w-1\/24 {
    width: 4.67%;
}

.py-4px {
    padding-top: 4px;
    padding-bottom: 4px;
}
